<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hayukleung.view">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:name="com.hayukleung.EntranceActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!--view-->

    <activity
        android:name=".ViewMainActivity"
        android:label="ViewMain"/>
    <activity
        android:name=".BezierCurveView.BezierCurveViewActivity"
        android:label="BezierCurveView"/>
    <activity
        android:name=".BezierCurveView.BezierInfiniteLoadingViewActivity"
        android:label="BezierInfiniteLoadingView"/>
    <activity
        android:name=".CLInfiniteLoadingView.CLInfiniteLoadingViewActivity"
        android:label="CLInfiniteLoadingView"/>
    <activity
        android:name=".HandleView.HandleViewActivity"
        android:label="HandleView"/>
    <activity
        android:name=".IQiYiInfiniteLoadingView.IQiYiInfiniteLoadingViewActivity"
        android:label="IQiYiInfiniteLoadingView"/>
    <activity
        android:name=".RadarInfiniteLoadingView.RadarInfiniteLoadingViewActivity"
        android:label="RadarInfiniteLoadingView"/>
    <activity
        android:name=".SonarInfiniteLoadingView.SonarInfiniteLoadingViewActivity"
        android:label="SonarInfiniteLoadingView"/>
    <activity
        android:name=".StampView.StampViewActivity"
        android:label="StampView"/>

    <!--xfermode-->

    <activity
        android:name="com.hayukleung.xfermode.XfermodeMainActivity"
        android:label="XfermodeMain"/>
    <activity
        android:name="com.hayukleung.xfermode.UsingColorMatrixColorFilterViewActivity"
        android:label="UsingColorMatrixColorFilterView"/>
    <activity
        android:name="com.hayukleung.xfermode.UsingPorterDuffColorFilterViewActivity"
        android:label="UsingPorterDuffColorFilterView"/>
    <activity
        android:name="com.hayukleung.xfermode.PorterDuffXfermodeViewActivity"
        android:label="PorterDuffXfermodeView"/>
  </application>

</manifest>
